<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ReporterTask" parallel="tests" thread-count="5">

	<test name="Device 1">
		<parameter name="Type" value="@os='ios' and @category='PHONE'" />
		<classes>
			<class name="com.experitest.reporter.task.Login" />
		</classes>
	</test>

	<test name="Device 2">
		<parameter name="Type" value="@os='ios' and @category='PHONE'" />
		<classes>
			<class name="com.experitest.reporter.task.Login" />
		</classes>
	</test>

</suite>